/* estilos para el body*/
body {
  background-color: rgba(251, 245, 245, 0.637);
  margin: 0;
  padding: 0;
}
.bodyTabla {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
h2 {
  text-align: center;
  margin-top: 300px;
  font-size: 30px;
  text-decoration: underline dotted;
  margin-bottom: 30px;
  font-family: "Orbitron", sans-serif;
}

header {
  box-shadow: 0 2px 8px 0 #000;
  background-color: #0c1f4c;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Orbitron", sans-serif;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
}
.title {
  flex: 1;
  text-align: center;
  font-size: 40px;
}

.radio {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.icon-radio {
  font-weight: bold;
  font-size: 40px;
  margin-right: 20px;
}

.texto {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  text-align: center;
}

.frequency {
  margin-right: 10px;
}
.slogan {
  text-align: center;
  font-size: 12px;
}

.botones {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
}

.botones button {
  background-color: #0c3255;
  box-shadow: 0 8px 6px 0 #000;
  color: rgba(248, 248, 248, 0.879);
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  width: 400px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}

.botones button:hover {
  transition: 0.3s ease;
  background-color: #eac447;
  color: black;
  border: none;
  border-radius: 5px;
  scale:1.05;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

footer {
  box-shadow: inset 0 2px 8px 0 #000;
  background-color: #dcc91ff1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
}

footer p {
  width: 48%;
  color: rgb(19, 14, 14);
  font-size: 10px;
}

footer a {
  margin-right: 10px;
  text-decoration: underline;
  color: rgb(22, 22, 24);
  margin: 10px;
  
}

footer a:hover {
  text-decoration: underline;
  color: rgb(22, 35, 214);
}

footer i {
  font-size: 30px;
}

.btn-volver {
  margin-bottom: 2rem;
  font-family: "Orbitron", sans-serif;
}
.btn-volver a {
  background-color: #133686;
  color: #fff;
  width: auto;
  padding: 15px;
  margin-top: 5px;
  text-decoration: none;
  border-radius: 20px;
}
.btn-volver a:hover {
  background-color: #03223e;
  color: white;
  width: auto;
  padding: 10px;
  margin-top: 5px;
  text-decoration: none;
}

.tabla-container {
  margin: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  font-family: "Montserrat Alternates", sans-serif;
}

.tabla th,
.tabla td {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
}
td {
  text-align: center;
  border: 2px solid rgba(8, 8, 12, 0.2);
}
.columnDetalle {
  width: 30%;
}

.align-left {
  text-align: left;
}

thead td {
  background-color: #efe442;
  color: #fff;
  padding: 15px;
  font-weight: bold;
  border: 1px solid black;
  color: #000;
  font-size: 1.1rem;
  font-family: "Orbitron", sans-serif;
}

tbody td {
  background-color: #041e5b;
  padding: 15px;
  border: 1px solid rgba(228, 228, 220, 0.5);
  color: rgba(248, 248, 248);
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
}

/* .Nota{
  display: flex;
  background-color: rgb(184, 178, 178);
  color:black;
  border:2px solid black;
  justify-content: center;
 
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 20px;
}

.Nota tr td{
  background-color:rgb(184, 178, 178);
  color: #000;
  border:1px solid rgb(184, 178, 178);
  padding: 5px;
  font-family: "Orbitron", sans-serif;
} */

/* tbody.Nota{
    background-color: rgb(184, 178, 178);
    color:black;
    border:2px solid black;
    box-shadow: 0 8px 4px 0 #000;
    font-size: 18px;
    font-weight: bold;
  }  */
  
  #columna tr{
    border:4px solid red;
  } 

  #columna td{
    background-color:rgb(184, 178, 178);
    font-family: "Orbitron", sans-serif;
    color: black;
    font-weight: bold;
  }

/* Estilos para celular */
@media only screen and (min-width: 0px) {
  .logo {
    width: 50px !important;
    transform: scale(1);
  }
  header img {
    object-fit: contain;
    width: 100%;
    height: 10vh !important;
    margin-right: 0px;
  }

  header h1 {
    font-size: 16px;
  }

  header .texto {
    display: none;
    font-size: 8px !important;
  }
  header .icon-radio {
    font-size: 20px !important;
  }

  h2 {
    margin: 20px;
    margin-top: 10rem;
    font-size: 20px;
  }

  .botones button {
    width: 250px;
  }

  .btn-volver {
    margin: 1rem 0px;
    margin-left: 1rem;
    padding-bottom: 20px;
    position: static;
  }
  .btn-volver a {
    font-size: 12px;
    background-color: #133686;
    color: #fff;
    width: auto;
    text-decoration: none;
    padding: 8px 15px;
  }
  .btn-volver a:hover {
    background-color: #03223e;
    color: white;
    scale: 1.05;
    text-decoration: none;
    cursor: pointer;
  }

  .tabla-container {
    margin: 20px;
    overflow-x: auto;
  }
  .tabla th,
  .tabla td {
    padding: 4px;
  }

  thead td {
    padding: 8px;
    font-size: 1rem;
  }

  tbody td {
    background-color: #041e5b;
    padding: 15px;
    border: 1px solid rgba(228, 228, 220, 0.5);
    color: rgba(248, 248, 248);
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
  }
  footer p {
    font-size: 10px;
  }

  footer p:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
  }

  
}

/* Estilos para celular */
@media only screen and (min-width: 430px) {
  .logo {
    width: 50px !important;
    transform: scale(1);
  }
  header img {
    object-fit: contain;
    width: 100%;
    height: 10vh !important;
    margin-right: 0px;
  }

  header h1 {
    font-size: 20px;
  }

  header .texto {
    display: none;
    font-size: 8px !important;
  }
  header .icon-radio {
    font-size: 25px !important;
  }

  h2 {
    margin: 20px;
    margin-top: 6rem;
    font-size: 20px;
  }

  .botones button {
    width: 300px;
  }

  .btn-volver {
    margin: 1rem 0px;
    margin-left: 1rem;
    padding-bottom: 20px;
    position: static;
  }
  .btn-volver a {
    font-size: 12px;
    background-color: #133686;
    color: #fff;
    width: auto;
    text-decoration: none;
    padding: 8px 15px;
  }
  .btn-volver a:hover {
    background-color: #03223e;
    color: white;
    scale: 1.05;
    text-decoration: none;
    cursor: pointer;
  }

  .tabla-container {
    margin: 20px;
    overflow-x: auto;
  }
  .tabla th,
  .tabla td {
    padding: 4px;
  }

  thead td {
    padding: 8px;
    font-size: 1rem;
  }

  tbody td {
    background-color: #041e5b;
    padding: 15px;
    border: 1px solid rgba(228, 228, 220, 0.5);
    color: rgba(248, 248, 248);
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
  }
  footer p {
    font-size: 13px;
  }
  footer p:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
  }
}
  
/* Estilos para celular */
@media only screen and (min-width: 768px) {
  .logo {
    width: 60px !important;
    transform: scale(1);
  }
  header img {
    object-fit: contain;
    width: 100%;
    height: 10vh !important;
    margin-right: 0px;
  }

  header h1 {
    font-size: 30px;
  }

  header .texto {
    font-size: 10px !important;
  }
  header .icon-radio {
    font-size: 39px !important;
  }

  h2 {
    margin: 20px;
    margin-top: 7rem;
    font-size: 20px;
  }

  .botones button {
    width: 400px;
  }

  .btn-volver {
    margin: 1rem 0px;
    margin-left: 1rem;
    padding-bottom: 20px;
    position: static;
  }
  .btn-volver a {
    font-size: 12px;
    background-color: #133686;
    color: #fff;
    width: auto;
    text-decoration: none;
    padding: 8px 15px;
  }
  .btn-volver a:hover {
    background-color: #03223e;
    color: white;
    scale: 1.05;
    text-decoration: none;
    cursor: pointer;
  }

  .tabla-container {
    margin: 20px;
    overflow-x: auto;
  }
  .tabla th,
  .tabla td {
    padding: 4px;
  }

  thead td {
    padding: 8px;
    font-size: 1rem;
  }

  tbody td {
    background-color: #041e5b;
    padding: 15px;
    border: 1px solid rgba(228, 228, 220, 0.5);
    color: rgba(248, 248, 248);
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
  }
  footer p {
    font-size: 13px;
  }

  footer p:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
  }
}
/* Estilos para celular */
@media only screen and (min-width: 1050px) {
  .logo {
    width: 60px !important;
    transform: scale(1.3);
  }
  header img {
    object-fit: contain;
    width: 100%;
    height: 10vh !important;
    margin-right: 0px;
  }

  header h1 {
    font-size: 30px;
  }

  header .texto {
    display: flex;
    font-size: 10px !important;
  }
  header .icon-radio {
    font-size: 39px !important;
  }

  h2 {
    margin: 20px;
    margin-top: 7rem;
    font-size: 20px;
  }

  .botones button {
    width: 500px;
    font-size: 1.6rem;
  }

  .btn-volver {
    margin: 1rem 0px;
    margin-left: 1rem;
    padding-bottom: 20px;
    position: static;
  }
  .btn-volver a {
    font-size: 20px;
    background-color: #133686;
    color: #fff;
    width: auto;
    text-decoration: none;
    padding: 8px 15px;
  }
  .btn-volver a:hover {
    background-color: #03223e;
    color: white;
    scale: 1.05;
    text-decoration: none;
    cursor: pointer;
  }

  .tabla-container {
    margin: 20px;
    overflow-x: auto;
  }
  .tabla th,
  .tabla td {
    padding: 4px;
  }


  thead td {
    padding: 8px;
    font-size: 1.2rem;
  }

  tbody td {
    background-color: #041e5b;
    padding: 15px;
    border: 1px solid rgba(228, 228, 220, 0.5);
    color: rgba(248, 248, 248);
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
  }
  footer p {
    font-size: 19px;
  }
  footer p:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
  }
}
/* Estilos para celular */
@media only screen and (min-width: 1060px) {
  .logo {
    width: 120px !important;
    transform: scale(1.4);
  }
  header img {
    object-fit: contain;
    width: 100%;
    height: 10vh !important;
    margin-right: 0px;
  }

  header h1 {
    font-size: 50px;
  }

  header .texto {
    font-size: 20px !important;
  }
  header .icon-radio {
    font-size: 49px !important;
  }

  h2 {
    margin: 20px;
    margin-top: 11rem;
    font-size: 29px;
  }

  .botones button {
    width: 500px;
    font-size: 1.6rem;
  }

  .btn-volver {
    margin: 1rem 0px;
    margin-left: 1rem;
    padding-bottom: 20px;
    position: static;
  }
  .btn-volver a {
    font-size: 20px;
    background-color: #133686;
    color: #fff;
    width: auto;
    text-decoration: none;
    padding: 8px 15px;
  }
  .btn-volver a:hover {
    background-color: #03223e;
    color: white;
    scale: 1.05;
    text-decoration: none;
    cursor: pointer;
  }

  .tabla-container {
    margin: 20px;
    overflow-x: auto;
  }
  .tabla th,
  .tabla td {
    padding: 4px;
  }


  thead td {
    padding: 8px;
    font-size: 1.4rem;
  }

  tbody td {
    background-color: #041e5b;
    padding: 15px;
    border: 1px solid rgba(228, 228, 220, 0.5);
    color: rgba(248, 248, 248);
    font-size: 1.3rem!important;
    font-family: "Montserrat", sans-serif;
  }
  footer p {
    font-size: 19px;
  }
  footer p:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
  }
}
